<main class="container w-50">

  <h2>Password Reset</h2>

  <%= form_for(:password_reset, url: password_resets_path) do |f| %>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-4 control-label' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <%= f.submit "Reset Password", class: 'btn btn-primary' %>
  <% end %>

</main>
